html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #000000;
    /* background-image: url("https://thumbs.dreamstime.com/z/sketch-chair-icons-set-side-view-50187281.jpg"); */
    font-family: Arial, sans-serif;
    background-color: rgb(227, 227, 227);
    font-size: 100%;
    margin: 0;
    margin-bottom: 60px;
    opacity: 0.97;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;




}
@media print {
    body {
        margin-bottom: 0px;
    }
}


body {
    overscroll-behavior-y: contain;
}

div#wrapper {
    margin: auto;
    /* /* padding: 0px 0px 0px 0px; */
    max-width: 1500px;
    width:80%

}


@media screen and (max-width: 600px) {
    div#wrapper {
        margin: auto;
    }

  

    div.sharelabel {
        margin-bottom: 10px;
    }

    p.cite {
        line-height: 1.5;
        word-break: break-all;
    }
}

aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

.skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
table, th, td {
    border: 9px solid rgb(255, 255, 255);
    background-color: #d2e6cf;
    border-collapse: collapse;
    
  }
tr , td{
    height: 50px;
    font-size: larger;
    transition: 0.8s;
}

td:hover{
    background-color: #86b686;
    color: rgb(5, 0, 0);
    font-size: 1.2em;
    padding: 8px;
}
  th, td {
      width: 500px;
  }
.skip a:focus {
    position: static;
    width: auto;
    height: auto;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

td {
    padding: 0;
}
.unvisible{
    visibility: hidden !important;
}

table {
    margin: 0;
}

a {
    background-color: transparent;
}

a:link {
    color: #0000FF;
}

a:visited {
    color: #800080;
}

a:active {
    color: #990000;
    outline: 0;
}

.alwaysLink {
    color: #0000FF;
}



.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearBoth {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}

.height0 {
    height: 0;
}

.note {
    font-weight: normal;
    font-style: italic;
    color: #666;
}

.large {
    font-size: 1.15em;
}

.larger {
    font-size: 1.25em;
}

.small {
    font-size: 0.85em;
}

.smaller {
    font-size: 0.75em;
}

.underscore {
    text-decoration: underline;
}

.update {
    color: #B64B39;
    font-size: 0.8em;
    font-style: italic;
}

img {
    border: none;
}

.overline {
    text-decoration: overline;
}

abbr {
    border-bottom: 1px dotted #000000;
}

abbr:hover {
    border-bottom: 1px dotted #000000;
}

b,
strong {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: rgb(9, 56, 32);
    
}
h1:hover{
    color: red;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    padding: 1%;
}

h3 {
    font-size: 1.05em;
}

h4 {
    font-size: 1.0em;
}

h1, h2, h3, h4 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h2.firstH2 {
    margin-top: 0;
}

p {
    margin-left: 2em;
    margin-right: 1em;
    line-height: 1.5; /* unitless */
}

ul, ol, menu {
    margin-left: 2em;
    margin-right: 1em;
    display: table;
}

ul li, ol li {
    line-height: 1.5; /* unitless */
}

dl {
    padding: 6px;
    background-color: #c48f8f;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
}

dt {
    font-style: italic;
}

dd {
    color: #333;
    background-color: inherit;
}

figure {
}

figure {
    margin: 1em 40px;
}

fieldset {
    border: 1px solid #999999;
    margin: 0;
    padding: 0.25em;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

#basicCalculatorPop {
    margin-right: 8px;
    margin-top: 8px;
}

@media (max-width: 600px) {
    #basicCalculatorPop {
        display: none;
    }
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    width: 93%;
    height: 90%;
    padding: 1%;
}
table {
    padding: 10px;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
    text-align: center;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

header {
    padding: 6px 6px 2px 6px;
    margin: 0;
    border-bottom: 2px solid #b3b3b3;
}

#headerLeft {
    display: table-cell;
    width: 270px;
    vertical-align: middle;
}

#headerCenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px 1px 6px 1px;
}

#headerRight {
    display: table-cell;
    text-align: right;
    vertical-align: top;
    width: 200px;
}


p#title {
    margin: 0px 2px 0px 2px;
    line-height: normal;
}

p#title a {
    text-decoration: none;
    line-height: normal;
}

p#title span.topCalculator {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.45em;
    color: #333333;
    background-color: #972323;
    font-weight: bold;
    text-shadow: 2px 2px #cccccc;
    line-height: normal;
}

/* p#title span.topSoup {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.3em;
    color: #B64B39;
    background-color: #fffff;
    font-weight: bold;
    margin-left: -4px;
    text-shadow: 2px 2px #cccccc;
    line-height: normal;
} */





@media (min-width: 925px) {
    img.followButton, img.shareButton {
        height: 25px;
        width: 25px;
        margin: 4px 4px 0px 4px;
    }
}

@media (max-width: 924px) {
    img.followButton, img.shareButton {
        height: 40px;
        width: 40px;
        margin: 4px 4px 0px 4px;
    }
}

#bottomFollow {
    display: none;
}

@media screen and (max-width: 525px) {
    #bottomFollow {
        display: block;
        text-align: center;
    }
}

div#breadcrumbs {
    margin: 10px 0px 10px 7px;
    font-size: 0.85em;
    font-weight: normal;
    background-color: #FFF;
    color: #666;
    font-size: 0.9em;
}

div#breadcrumbs div {
    display: inline-block;
    margin: 0px 3px 0px 3px;
}

div#breadcrumbs div#lastBreadcrumb a {
    text-decoration: none;
    color: #666;
}

h1#pageH1 {
}

#calculatorBlock {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: left;
    background-color: #e6ede5;
    margin: 0px 20px 20px 0px;
    position: relative;
    z-index: 100;
}

div#contentBlock {
    text-align: left;
}

div#contentBlock p:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    #calculatorBlock {
        display: block;
        margin: auto;
        float: none;
    }

    div#contentBlock {
        display: block;
        margin: 10px auto;
        float: none;
        font-size: 100%;
    }
}

/*
CSS for ads begin
*/

/* desktop and screens wider than 600px */
#Top {
    display: none;
}

#LeftSidebar {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 160px;
    height: 600px;
    margin: 0px 20px 20px 20px;
}

#RightSidebar {
    /* positioned to the right of the calculator */
    width: 300px;
    height: 600px;
    margin: 0px auto 20px auto;
    text-align: center;
    /*
    background-image: url("https://www.calculatorsoup.com/images/ads/timecardcalculator160x600.jpg");
    background-repeat: no-repeat;
    background-position-x: 70px;
    background-position-y: 25px;
     */
}

#Bottom {
    clear: both;
    text-align: center;
    margin: 20px auto 20px auto;
                display: block;
    vertical-align: middle;
    max-height: 250px;
}

#Video {
    display: block;
}


/* mobile and screens less than 601px wide */
@media screen and (max-width: 600px) {
    #Top {
        display: block;
        margin: 20px auto 20px auto;
        text-align: center;
        float: none;
        width: 300px;
        height: 250px;
        overflow: hidden;
    }

    #LeftSidebar {
        display: none;
    }

    #RightSidebar {
        /* now positioned below the calculator */
        clear: both;
        display: block;
        /* width: 300px; any width */
        max-height: 280px;
        margin: 20px auto 20px auto;
        float: none;
    }

    #Bottom {
        max-height: 280px;
    }
}

/* tablet and screens less than 768px wide */
@media screen and (max-width: 768px) {
    #Video {
        display: none;
    }
}

@media print {
    #Top, #LeftSidebar, #RightSidebar, #Bottom, #Video, #Sticky {
        display: none;
    }
}

/*
CSS class for all in-page ads for the header ADVERTISEMENT
 */
.pages {
    display: table;
    margin: 0px auto;
    padding: 25px 0 0 0;
    text-align: center;
    position: relative;
    z-index: 105;
}

.pages:before {
    display: block;
    position: absolute;
    top: 5px;
    content: "Advertisement";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #999;
    text-transform: uppercase;
    left: 50%;
    margin-left: -52px;
}

/* Sticky CSS Code - Start -*/
/* Use style for sticky ad */
    /* These IDs and Classes are set on divs by asc_prebid.js */







@media only screen and (max-width: 768px) {
    #btn-ad-close {
            top: auto;
            position: fixed;
            right: 0px;
            bottom: 50px;
            margin: 0px;
            background-color: #fff;
            border-radius: 0;
            border-bottom: 2px solid #fff;
            border-right: 0;
            border-top-left-radius: 10px;
            color: #747474;
    }
}


/* Sticky Code - End */

/*
CSS for ads end
*/


div#calculatorWrap {
    background: #cadfc5;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 7px solid rgb(20, 149, 29);
    border-radius: 4px;
    font-size: 1.2em;
    text-align: center;
}

form.calculatorForm {

}

div.calculatorTitle {
    color: rgb(176, 230, 188);
    background-color: #ffffff;
    font-weight: bold;
    margin: -0.3em -0.3em 1em -0.3em;
    border-bottom: 1px solid rgb(132, 24, 24);
    padding: 0.3em;
    text-align: center;
    border-radius: 4px;
    _color: #333;
    _background-color: #FFF;
    _border: 1px solid #aaa;
}

div.calculatorInputs {
    /* display: inline-table; */
}

div.calculatorInputGroup {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

div.calculatorInputGroupAligned {
    text-align: center;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

div.calculatorInputGroupAligned label, div.calculatorInputGroupAligned select, div.calculatorInputGroupAligned input {
    display: inline-block;
}

div.calculatorInputGroupAligned label {
    text-align: left;
    margin-right: 2px;
}

div.calculatorInputGroupInline {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

div.calculatorInputGroupInline label.aligned {
    width: 16em;
}

div.calculatorInputGroupPadding {
    padding: 6px 0px 6px 0px;
}

div.calculatorButton {
}

div.calculatorAnswer {
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 0em -0.3em -0.3em -0.3em;
    padding: 0.3em;
    font-size: 100%;
}



div.table {
    display:inline-flex;
    border-collapse: collapse;
    align-items: center;
}



@media screen and (max-width: 768px) {
    div.commonTable div.cell {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media only screen and (max-width: 726px) {
    div.indexPage, div.indexPage p {
        margin-right: 0.75em;
        margin-left: 0.75em;
    }

    div.indexPage p.tightindentDescription {
        margin-left: 1.25em;
    }
}

div.TextTextFit {
    overflow: hidden;
    border: 0px solid #999;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 auto 0 auto;
}

div.TextTextWrap {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #999;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 98%;
    margin: auto;
}

div.Text2Column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 6px;
}

@media only screen and (max-width: 726px) {
    div.Text2Column {
        display: block;
        width: 100%;
    }
}

div.ImageTextWrap {
    clear: both;
    overflow: hidden;
    border: 1px solid #999;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 98%;
    margin: auto;
}

div.ImageLeft {
    float: left;
    vertical-align: top;
    padding: 6px;
}

div.TextRight {
    overflow: hidden;
    vertical-align: top;
    padding: 6px;
}

@media only screen and (max-width: 726px) {
    div.ImageTextWrap, div.TextRight {
        overflow: auto;
    }

    div.ImageLeft {
        float: none;
        text-align: center;
        padding: 0;
    }

    figure {
        margin: auto;
    }
}

.btn {
    height: 100%;
    width:500px;
    height:60px;
    display: inline-table;
    transition: 0.5s;
    margin: 10px;
    background-color: rgb(220, 237, 221);
    color: rgb(22, 51, 25);
    font-size: larger;
}
.btn:hover{
    background-color: #000000; /* Green */
    color: white;
}







footer {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    footer a {
        display: block;
    }
}



@media only screen and (max-width: 851px) {
    div.ScreenWidthLessThan801 {
        display: block;
        margin-top: 2px;
        margin-bottom: 8px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    div#breadcrumbs div#lastBreadcrumb {
        display: none;
    }

    h1 {
        font-weight: bold;
        font-size: 1em;
    }
}

@media screen and (max-width: 525px) {
    #headerRight {
        display: none;
    }

    #headerLeft, #headerCenter {
        display: block;
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (min-width: 525px) and (max-width: 760px) {
    #headerRight {
        display: table-cell;
    }

    #headerLeft, #headerCenter {
        display: block;
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (min-width: 725px) and (max-width: 924px) {
    #topNavRight {
        _display: none;
    }
}

@media screen and (min-width: 601px) {
    form#TopCalculatorClearButton {
        display: none;
    }
}

@media (min-width: 890px) {
}

@media print {
    #headerCenter, #headerRight {
        display: none;
    }
}

@media (min-width: 400px) {
}

@media (min-width: 550px) {
}

@media (min-width: 750px) {
}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {
}